.skills-items-container {
   padding: 1em;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.skills-item-container {
   padding: 0.2em 1em;
   border: 0.5px solid #333;
   border-radius: 5em;
   margin: 0.1rem;
   background: #0a192f;
   font-size: 1rem;
   color: #FFF;
}