.singleCart {
   height: 92%;
   margin-bottom: 35px;
   margin-left: 1%;
   margin-right: 1%;
}
.tools {
   padding: 0.1em 0.5em;
   border: 0.5px solid #4b5769;
   border-radius: 4px;
   margin: 3px;
   background: #4b5769;
   font-size: 1rem;
   color: #FFF;
}
.UrlIcon{
   cursor: pointer;
   color: white;
   transition: all 0.3s;
}
.UrlIcon:hover{
   color: #fff454;
   /* font-size: 22px; */
   transform: scale(0.5) !important;
}
.list-inline-item{
   transition: all 0.3s !important;
   margin-left: 5px;
}
.list-inline-item:hover{
   transform: scale(1.1) !important;
}
.projectTitle:after {
   content: "";
   width: 50%;
   height: 2px;
   display: block;
   margin-top: 7px;
   background-color: #fff454;
}
.showMore{
   text-align: center;
   position: relative
}
.scrollUp {
   position: relative;
   top: -40px;
   right: 22px;
}
.BG{
   background-color: #fff454 !important;
}
.arrowIcon {
   color: red !important;
   font-size: 35px !important;
}

