.navBar {
   background-color: #0b1b33;
}
.navLink{
   color: #fff454 !important;
   text-align: center;
   transition: all 0.3s;
}
.navLinkSm {
   color: #fff454 !important;
   text-align: center !important;
   font-size: 14px;
   transition: all 0.3s;
   padding: 7px 0px;
}
.navLink:hover{
   color: white !important;
   transform: scale(0.9);
}
.navLinkSm:hover{
   color: white !important;
   transform: scale(0.9);
}
.headerDiv{
   padding-bottom: 20px;
}
.subMenu {
   justify-content: space-around!important;
   padding: 0;
   margin: 3px 0px;
}
.btn-download {
   border: 1px solid;
   padding: 0px 5px;
   border-radius: 5px;
   margin-top: 5px;
   margin-left: -5px;
   transition: all 0.3s;
}
.btn-download:hover{
   background-color: #6073db !important;
   color: white !important;
   border-color:#6073db !important;
}
.nav-link.active.navLink, .nav-link.active.navLinkSm {
   color: white !important;
   text-align: center !important;
   transform: scale(0.9);
}
