/* .action{
   position: absolute;
} */
.section-title {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   -webkit-column-gap: 30px;
   column-gap: 30px;
}
.details-link {
   z-index: 100;
}
.details-link:before {
   z-index: -1;
   content: "";
   display: block;
   height: 1px;
   width: 100%;
   background-color: #fff454;
   position: relative;
   right: 0;
   top: 18px;
}
.TL{
   background-color: #172a45 !important;
}