.CardBox {
   padding: 25px;
   background-color: #0d1f3b;
}
.submitBtn {
   position: relative;
   padding: 25px;
}
.successMsg {
   color: white;
   position: absolute;
   top: -8px;
   left: 34.5%;
   right: auto;
}
span.text-danger {
   color: #fff250 !important;
}